<div class="row">
	<div class="col-12">
		<img src="{$baseUrl}/images/hznm_prakticke.png" class="img-fluid">
	</div>
</div>

{foreach $origanization as $row}
	<div class="info">
		<div class="title">
			<h3 n:class="strlen($row['title']) > 15 ? smaller">{$row['title']|markdown:$row['id'] . '-title'}</h3>
		</div>
		<div n:class="text, $iterator->odd ? odd : even">
			{$row['text']|markdown:$row['id']}
		</div>
	</div>
{/foreach}
