<div class="row">
    <div class="col-12">
        <img src="{$baseUrl}/images/hznm_prihlasovani.png" class="img-fluid">
        <p>
            {$infoText['registration']|markdown:'registration'}
        </p>
    </div>
    <div class="col-12">
        {$infoText['registration-form']|noescape}
    </div>
</div>
