parameters:
	users:
		1:
			email: rajmund.hutar@gmail.com
			password:
			role: admin
		2:
			email: cirilink@seznam.cz
			password:
			role: admin


database:
	dsn: 'mysql:host=127.0.0.1;dbname=test'
	user:
	password:
