body {
    background-color: #ebebeb;
    height: 3000px;
    font-family: 'Roboto', sans-serif;
}

textarea {
    min-height: 300px;
}

.container {
    position: relative;
}

header.main {
    min-height: 34vw;
    width: 100%;
}

header.main div.clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-image: url("./images/header_clouds.png");
    background-repeat: repeat-x;
    background-size: contain;
}

header.main div.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12%;
    background-image: url("./images/header.png");
    background-repeat: no-repeat;
    background-size: contain;

}

header.main .homepage-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 34vw;
    height: 19vw;
    max-width: 420px;
    max-height: 230px;
}

header.main ul.nav {
    padding: 29% 0 0 4.6%;
    width: 100%;
}

header.main .nav-item {
    display: block;
    float: left;
    padding: 0 0.3% 0 0.8%;
}

header.main .nav-item a {
    color: white;
    font-size: 75%;
}

header.main .nav-item a:hover {
    color: #e67a77;
}

nav#collapsed-nav {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;

    position: fixed;
    top: 30px;
    right: 30px;


}

nav#collapsed-nav.hidden {
    visibility: hidden;
    opacity: 0;
}

nav#collapsed-nav button {
    float: right;

    border: 1px solid #dc857c;
    border-radius: 5px;
    padding: 5px;
    background-color: #ebebeb;
}

nav#collapsed-nav div.navbar-collapse {

    background-color: #ebebeb;

}

.sub-section {
    margin-top: 5%;
}

#about {
    padding-top: 0;
}

#organisation .info-box {
    padding: 20px;
    background-color: #d1d5d6;
    margin: 3px;
}

#larps .larp .title {
    padding: 45px 0 45px 56px;
    font-size: 150%;
}

#larps .larp .title a {
    color: #000000;
}

#larps .larp .authors {
    display: flex;
    align-items: center;
    justify-content: center;
}

#larps .larp .authors .tit {
    padding: 0 20px 0 34px;
    font-weight: bold;
}

#larps .larp .wrapper {
    background-color: #e3ffbb;
    padding: 0 0 21px 0;
}

#larps .larp .text {
    background-color: #d3d6d7;
    padding: 60px 50px 65px 50px;
    margin: 0;
}

#larps .larp .footer {
    background-color: #dc857c;
    text-align: center;
    padding: 21px;
}

#larps .larp .footer a {
    color: #000000;
}

/* ODD */
#larps .larp .title.odd {
    background-color: #a0d05b;
}

#larps .larp .authors.odd {
    background-color: #8ab44e;
}

/* EVEN */
#larps .larp .title.even {
    background-color: #669f94;
}

#larps .larp .authors.even {
    background-color: #588980;
}

#organizationCarousel {
    width: 100%;
    height: 400px;
}

#organizationCarousel .carousel-item {
    height: 400px;
}

#organizationCarousel .carousel-caption {
    background-color: #d3d6d7;
    width: 356px;
    min-height: 209px;
    padding: 0 10px 0 10px;
}

.markdown-content {
    position: relative;
}

.markdown-content a.markdown-edit {
    display: none;
}

.markdown-content:hover .markdown-edit {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #dc857c;
    border-radius: 3px;
    background-color: #ebebeb;
    padding: 2px 5px 2px 5px;
}

.hidden {
    /*display: none;*/
}

.admin nav {
    margin-bottom: 30px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    header.main {
        min-height: 184px;
    }

    header.main .nav-item a {
        font-size: 75%;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    header.main {
        min-height: 244px;
    }

    header.main .nav-item a {
        font-size: 110%;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    header.main {
        min-height: 310px;
    }

    header.main .nav-item a {
        font-size: 161%;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    header.main {
        min-height: 374px;
    }

    header.main .nav-item a {
        font-size: 200%;
    }
}
