body {
    background-color: #ebebeb;
    height: 3000px;
    font-family: 'Roboto', sans-serif;
}

header.full {
    position: relative;
    height: 35vw;
    max-height: 444px;
}

header.full div.clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/header_clouds.png");
    background-repeat: repeat-x;
    background-size: contain;
}

header.full div.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/header.png");
    background-repeat: no-repeat;
    background-size: contain;

}

<
<
<
<
<
<
<
HEAD
header ul.nav {
    padding: 28.4% 0 0 4.3%;

=
=
=
=
=
=
=
header.full .homepage-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 34vw;
    height: 19vw;
    max-width: 420px;
    max-height: 230px;
}

header.full ul.nav {
    padding: 322px 80px 0 20px;
>>> >>> > d371c84700a356c15bf9ee20479b32d91dba9790 width: 100 %;
}

header .nav-item {
    display: block;
    float: left;
    padding: 0 1.3% 0 1.3%;
}

header .nav-item a {
    color: white;
    font-size: 200%;
}

header .nav-item a:hover {
    text-shadow: 0 0 10px #e67a77;
}

header.collapsed {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 1140px;
}

header.collapsed div.background {
    position: absolute;
    top: 0;
    left: 0;
    background: url(./images/header_c.png) no-repeat center top;
    background-size: contain;
    width: 100%;
    min-height: 85px;
}

header.collapsed {

}

header.collapsed ul.nav {
    position: absolute;
    padding: 0 80px 0 20px;
    width: 100%;
}

.sub-section {
    margin-top: 5%;
}

#about {
    margin-top: 0;
}

#organisation .info-box {
    padding: 20px;
    background-color: #d1d5d6;
    margin: 3px;
}

#larps .larp .title {
    padding: 45px 0 45px 56px;
    font-size: 150%;
}

#larps .larp .title a {
    color: #000000;
}

#larps .larp .authors {
    display: flex;
    align-items: center;
    justify-content: center;
}

#larps .larp .authors .tit {
    padding: 0 20px 0 34px;
    font-weight: bold;
}

#larps .larp .wrapper {
    background-color: #e3ffbb;
    padding: 0 0 21px 0;
}

#larps .larp .text {
    background-color: #d3d6d7;
    padding: 60px 50px 65px 50px;
    margin: 0;
}

#larps .larp .footer {
    background-color: #dc857c;
    text-align: center;
    padding: 21px;
}

#larps .larp .footer a {
    color: #000000;
}

/* ODD */
#larps .larp .title.odd {
    background-color: #a0d05b;
}

#larps .larp .authors.odd {
    background-color: #8ab44e;
}

/* EVEN */
#larps .larp .title.even {
    background-color: #669f94;
}

#larps .larp .authors.even {
    background-color: #588980;
}

#organizationCarousel {
    width: 100%;
    height: 400px;
}

#organizationCarousel .carousel-item {
    height: 400px;
}

#organizationCarousel .carousel-caption {
    background-color: #d3d6d7;
    width: 356px;
    min-height: 209px;
    padding: 0 10px 0 10px;
}

.markdown-content {
    position: relative;
}

.markdown-content a.markdown-edit {
    display: none;
}

.markdown-content:hover .markdown-edit {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #dc857c;
    border-radius: 3px;
    background-color: #ebebeb;
    padding: 2px 5px 2px 5px;
}

.hidden {
    display: none;
}

