Přihlašování
Kapacita festivalu už se naplnila, každopádně se můžete přihlašovat jako náhradníci pomocí tohoto formuláře. Většinou se ještě pár míst uvolní po odpadlících. Pokud na HZNM conu něco uvádíte a zapomněli jste se přihlásit včas, pak samozřejmě klasicky vyplňte dotazník a ciťte se najisto přihlášení.

