{block content}

<section id="about" class="sub-section">
	{include "@about.latte"}
</section>

<section id="organisation" class="sub-section">
	{include "@organisation.latte"}
</section>

<section id="registration" class="sub-section">
	{include "@registration.latte"}
</section>

<section id="larps" class="sub-section">
	{include "@larps.latte"}
</section>

<section id="larp-workshop" class="sub-section">
	{include "@larps-workshop.latte"}
</section>
