body {
    background-color: #ebebeb;
    height: 3000px;
    font-family: 'Roboto', sans-serif;
}

textarea {
    min-height: 300px;
}

.container {
    position: relative;
}

header.main {
    display: flex;
    justify-content: center;
}

header.main .wrapper {
    position: relative;
    flex: 1;
    max-width: 1120px;
}

header.main img.nav-background {
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 1120px;
    height: 37vw;
    max-height: 411px;
}

header.main ul.nav {
    display: flex;
    position: absolute;
    top: 71%;
    width: 100%;
    height: 20%;
}

header.main .nav-item {
    flex: 1 1 auto;
    height: 100%;
}

nav#collapsed-nav {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;

    position: fixed;
    top: 30px;
    right: 30px;


}

/** Menu **/
header.main .nav-link {
    background-image: url("./images/hznmmenu.png");
    font-size: 0 !important;
    height: 100%;
}

/** O hznmconu */
header.main .nav-item:nth-child(1) .nav-link {
    background-size: 211%;
    background-position: -17% -2%;
}

header.main .nav-item:nth-child(1) .nav-link:hover {
    background-position: 80.3% -2%;
}

/** prakticke */
header.main .nav-item:nth-child(2) .nav-link {
    background-size: 189%;
    background-position: -17% 26%;
}

header.main .nav-item:nth-child(2) .nav-link:hover {
    background-position: 91.8% 26%;
}

/** prihlasovani */
header.main .nav-item:nth-child(3) .nav-link {
    background-size: 223%;
    background-position: -2% -70%;
}

header.main .nav-item:nth-child(3) .nav-link:hover {
    background-position: 90.7% -70%;
}

/** larpy */
header.main .nav-item:nth-child(4) .nav-link {
    background-size: 225%;
    background-position: -17% -49%;
}

header.main .nav-item:nth-child(4) .nav-link:hover {
    background-position: 75% -49%;
}

/** larpworkshop */
header.main .nav-item:nth-child(5) .nav-link {
    background-size: 200%;
    background-position: -1.5% -28%;
}

header.main .nav-item:nth-child(5) .nav-link:hover {
    background-position: 101% -28%;
}

.sub-section {
    margin-top: 5%;
}

#about {
    padding-top: 0;
}

#organisation .info-box {
    padding: 20px;
    background-color: #d1d5d6;
    margin: 3px;
}

#larps .larp .title {
    padding: 45px 0 45px 56px;
    font-size: 150%;
}

#larps .larp .title label:hover {
    text-decoration: underline;
    cursor: pointer;
}

#larps .larp .title input {
    width: 0;
    height: 0;
}

#larps .larp .title input::after {
    content: ' ';
    display: block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid black;

    vertical-align: middle;
    margin: -0.6rem 0 0 -0.5rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

#larps .larp .title input:checked::after {
    transform: rotate(90deg);
}

#larps .larp .authors {
    display: flex;
    align-items: center;
    justify-content: center;
}

#larps .larp .tit {
    padding: 0 20px 0 34px;
    font-weight: bold;
}

#larps .larp .wrapper {
    background-color: #e3ffbb;
    padding: 0 0 21px 0;
}

#larps .larp .text {
    background-color: #d3d6d7;
    padding: 60px 50px 65px 50px;
    margin: 0;
}

#larps .larp .footer {
    background-color: #dc857c;
    text-align: center;
    padding: 21px;
}

#larps .larp .footer a {
    color: #000000;
}

/* ODD */
#larps .larp .title.odd {
    background-color: #a0d05b;
}

#larps .larp .authors.odd {
    background-color: #8ab44e;
}

/* EVEN */
#larps .larp .title.even {
    background-color: #669f94;
}

#larps .larp .authors.even {
    background-color: #588980;
}

#organizationCarousel {
    width: 100%;
    height: 400px;
}

#organizationCarousel .carousel-item {
    height: 400px;
}

#organizationCarousel .carousel-caption {
    background-color: #d3d6d7;
    width: 356px;
    min-height: 209px;
    padding: 0 10px 0 10px;
}

.markdown-content {
    position: relative;
}
.markdown-content p:last-of-type {
    margin: 0;
}

.markdown-content a.markdown-edit {
    display: none;
}

.markdown-content:hover a.markdown-edit {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #dc857c;
    border-radius: 3px;
    background-color: #ebebeb;
    padding: 2px 5px 2px 5px;
    font-size: 10px !important;
}

.hidden {
    display: none;
}

.admin nav {
    margin-bottom: 30px;
}

.info {
    display: flex;
    min-height: 130px;
}

.info .title {
    flex: 1;
    display: flex;
    background-image: url("./images/info_head.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    min-width: 25%;
}
.info h3.smaller {
    font-size: 120%;
}

.info div.text {
    flex: 5;
    padding: 20px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.info div.text.odd {
    background-image: url("./images/info_odd.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.info div.text.even {
    background-image: url("./images/info_even.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}



/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
    header.main ul.nav {
        top: 70%;
    }
}

/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
    header.main ul.nav {
        top: 69%;
    }
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
    header.main ul.nav {
        top: 68%;
    }
}

/* Small devices (landscape phones, 576px and down)*/
@media (max-width: 576px) {
    header.main ul.nav {
        top: 65%;
    }
}





