parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	## Models
	- App\Models\GamesModel
	- App\Models\InfoTextModel

	## Factories
	- App\Forms\GamesFormFactory
	- App\Forms\InfoTextFormFactory

	## Helpers
	- App\Helpers\MarkdownFilter
